extends layout

block content
  div.flex.mx-auto.bg-gray-50.min-h-screen
    div.flex.flex-col.max-w-sm.w-full.shadow-sm.border-r.bg-white
      div.p-4.bg-orange-100.border-r-4.border-orange-400
        a(href="/").text-3xl.font-bold.text-gray-800.text-orange-400="Projects"
      div.p-4
        a(href="/members").text-3xl.font-bold.text-gray-800="Members"
        
    div.w-full.px-8.bg-gray-50.py-12
        a(href="/add-project").bg-orange-400.px-6.py-4.rounded-lg.text-white.font-bold Add Project
    
        div.space-y-8.py-8
          each project in projects
              div.p-4.bg-white.shadow-sm.border-l-4.border-orange-400.rounded-lg.flex.justify-between.items-center
                div.flex.flex-col
                  a(href="/projects/#{project.id}").text-2xl.font-bold.text-gray-800.text-orange-400 #{project.name}
                  p.text-gray-600 #{project.description || 'No description'}
                div 
                  p.text-gray-400.text-xs.font-medium #{project.member_count} members
