extends layout

block content
  div.container-md.mx-auto.bg-gray-50
    div.flex.flex-col.max-w-sm.shadow-sm.border-r.min-h-screen.bg-white
      div.p-4
        a(href="/").text-3xl.font-bold.text-gray-800="Projects"
      div.p-4.bg-orange-100.border-r-4.border-orange-400
        a(href="/members").text-3xl.font-bold.text-orange-400="Members"
