extends layout

block content
  div.flex.mx-auto.bg-gray-50.min-h-screen
    div.flex.flex-col.max-w-sm.w-full.shadow-sm.border-r.bg-white
      div.p-4.bg-orange-100.border-r-4.border-orange-400
        a(href="/").text-3xl.font-bold.text-orange-400="Projects"
      div.p-4
        a(href="/members").text-3xl.font-bold.text-gray-800="Members"
    div.w-full.px-8.bg-gray-50.py-12
      h1.text-5xl.font-bold.text-orange-400="Add Member"
      div.space-y-8.py-8
        each member in members
            div.p-4.bg-white.shadow-sm.border-l-4.border-orange-400.rounded-lg.flex.justify-between.items-center
              .flex.flex-col
                p.text-gray-600 #{member.name}
              button(type="button", onclick=`addMember(${projectId},${member.id})`).bg-green-400.px-6.py-2.rounded-lg.text-white.font-bold Add Member
 
  script.
    function addMember(projectId, memberId) {
      if (confirm('Are you sure you want to add this member?')) {
        fetch('/projects/' + projectId + '/members/' + memberId, {
          method: 'POST'
        }).then(() => window.location.href = "/projects/" + projectId)
      }
    }